<script>
  NProgress.configure({ showSpinner: false });
  NProgress.start();
</script>



<div class="wrapper">
  <!-- Github Link -->
  <a href="https://github.com/tafcoder/sleek-dashboard" target="_blank" class="github-link">
    <svg width="70" height="70" viewBox="0 0 250 250" aria-hidden="true">
      <defs>
        <linearGradient id="grad1" x1="0%" y1="75%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color:#896def;stop-opacity:1" />
          <stop offset="100%" style="stop-color:#482271;stop-opacity:1" />
        </linearGradient>
      </defs>
      <path d="M 0,0 L115,115 L115,115 L142,142 L250,250 L250,0 Z" fill="url(#grad1)"></path>
    </svg>
    <i class="mdi mdi-github-circle"></i>
  </a>

  <!--
          ====================================
          ——— LEFT SIDEBAR WITH FOOTER
          =====================================
        -->
        <app-left-side-bar></app-left-side-bar>



  <div class="page-wrapper">
    <!-- Header -->
    <header class="main-header " id="header">
      <nav class="navbar navbar-static-top navbar-expand-lg">
        <!-- Sidebar toggle button -->
        <button id="sidebar-toggler" class="sidebar-toggle">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <!-- search form -->
        <div class="search-form d-none d-lg-inline-block">
          <div class="input-group">
            <button type="button" name="search" id="search-btn" class="btn btn-flat">
              <i class="mdi mdi-magnify"></i>
            </button>
            <input type="text" name="query" id="search-input" class="form-control" placeholder="'button', 'chart' etc."
              autofocus autocomplete="off" />
          </div>
          <div id="search-results-container">
            <ul id="search-results"></ul>
          </div>
        </div>

        <div class="navbar-right ">
          <ul class="nav navbar-nav">
            <li class="dropdown notifications-menu">
              <button class="dropdown-toggle" data-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">You have 5 notifications</li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-account-plus"></i> New user registered
                    <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 10
                      AM</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-account-remove"></i> User deleted
                    <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 07
                      AM</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-chart-areaspline"></i> Sales report is ready
                    <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 12
                      PM</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-account-supervisor"></i> New client
                    <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 10
                      AM</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-server-network-off"></i> Server overloaded
                    <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 05
                      AM</span>
                  </a>
                </li>
                <li class="dropdown-footer">
                  <a class="text-center" href="#"> View All </a>
                </li>
              </ul>
            </li>
            <li class="right-sidebar-in right-sidebar-2-menu">
              <i class="mdi mdi-settings mdi-spin"></i>
            </li>
            <!-- User Account -->
            <li class="dropdown user-menu">
              <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <img src="assets/img/user/user.png" class="user-image" alt="User Image" />
                <span class="d-none d-lg-inline-block">Abdus Salam</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <!-- User image -->
                <li class="dropdown-header">
                  <img src="assets/img/user/user.png" class="img-circle" alt="User Image" />
                  <div class="d-inline-block">
                    Abdus Salam <small class="pt-1">iamabdus@gmail.com</small>
                  </div>
                </li>

                <li>
                  <a href="user-profile.html">
                    <i class="mdi mdi-account"></i> My Profile
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-email"></i> Message
                  </a>
                </li>
                <li>
                  <a href="#"> <i class="mdi mdi-diamond-stone"></i> Projects </a>
                </li>
                <li class="right-sidebar-in">
                  <a href="javascript:0"> <i class="mdi mdi-settings"></i> Setting </a>
                </li>

                <li class="dropdown-footer">
                  <a href="index.html"> <i class="mdi mdi-logout"></i> Log Out </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>


    </header>


    <div class="content-wrapper">
      <div class="content">
        <router-outlet></router-outlet>
      </div>



      <div class="right-sidebar-2">
        <div class="right-sidebar-container-2">
          <div class="slim-scroll-right-sidebar-2">

            <div class="right-sidebar-2-header">
              <h2>Layout Settings</h2>
              <p>User Interface Settings</p>
              <div class="btn-close-right-sidebar-2">
                <i class="mdi mdi-window-close"></i>
              </div>
            </div>

            <div class="right-sidebar-2-body">
              <span class="right-sidebar-2-subtitle">Header Layout</span>
              <div class="no-col-space">
                <a href="javascript:void(0);"
                  class="btn-right-sidebar-2 header-fixed-to btn-right-sidebar-2-active">Fixed</a>
                <a href="javascript:void(0);" class="btn-right-sidebar-2 header-static-to">Static</a>
              </div>

              <span class="right-sidebar-2-subtitle">Sidebar Layout</span>
              <div class="no-col-space">
                <select class="right-sidebar-2-select" id="sidebar-option-select">
                  <option value="sidebar-fixed">Fixed Default</option>
                  <option value="sidebar-fixed-minified">Fixed Minified</option>
                  <option value="sidebar-fixed-offcanvas">Fixed Offcanvas</option>
                  <option value="sidebar-static">Static Default</option>
                  <option value="sidebar-static-minified">Static Minified</option>
                  <option value="sidebar-static-offcanvas">Static Offcanvas</option>
                </select>
              </div>

              <span class="right-sidebar-2-subtitle">Header Background</span>
              <div class="no-col-space">
                <a href="javascript:void(0);"
                  class="btn-right-sidebar-2 btn-right-sidebar-2-active header-light-to">Light</a>
                <a href="javascript:void(0);" class="btn-right-sidebar-2 header-dark-to">Dark</a>
              </div>

              <span class="right-sidebar-2-subtitle">Navigation Background</span>
              <div class="no-col-space">
                <a href="javascript:void(0);"
                  class="btn-right-sidebar-2 btn-right-sidebar-2-active sidebar-dark-to">Dark</a>
                <a href="javascript:void(0);" class="btn-right-sidebar-2 sidebar-light-to">Light</a>
              </div>

              <span class="right-sidebar-2-subtitle">Direction</span>
              <div class="no-col-space">
                <a href="javascript:void(0);" class="btn-right-sidebar-2 btn-right-sidebar-2-active ltr-to">LTR</a>
                <a href="javascript:void(0);" class="btn-right-sidebar-2 rtl-to">RTL</a>
              </div>

              <div class="d-flex justify-content-center" style="padding-top: 30px">
                <div id="reset-options" style="width: auto; cursor: pointer" class="btn-right-sidebar-2 btn-reset">Reset
                  Settings</div>
              </div>

            </div>

          </div>
        </div>

      </div>

    </div>

    <footer class="footer mt-auto">
      <div class="copyright bg-white">
        <p>
          &copy; <span id="copy-year">2019</span> Copyright Sleek Dashboard Bootstrap Template by
          <a class="text-primary" href="http://www.iamabdus.com/" target="_blank">Abdus</a>.
        </p>
      </div>
      <script>
        var d = new Date();
        var year = d.getFullYear();
        document.getElementById("copy-year").innerHTML = year;
      </script>
    </footer>

  </div>
</div>