<aside class="left-sidebar bg-sidebar">
    <div id="sidebar" class="sidebar sidebar-with-footer">
      <!-- Aplication Brand -->
      <div class="app-brand">
        <a href="/index.html" title="Sleek Dashboard">
          <svg class="brand-icon" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="30"
            height="33" viewBox="0 0 30 33">
            <g fill="none" fill-rule="evenodd">
              <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />
              <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
            </g>
          </svg>
          <span class="brand-name text-truncate">Sleek Dashboard</span>
        </a>
      </div>
      <!-- begin sidebar scrollbar -->
      <div class="sidebar-scrollbar">
        <!-- sidebar menu -->
        <ul class="nav sidebar-inner" id="sidebar-menu">
          <li class="class-new-note" (click)="fn_newNote($event)">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#dashboard"
              aria-expanded="false" aria-controls="dashboard">
              <i class="mdi mdi-checkbox-multiple-marked"></i>
              <span class="nav-text">New Note</span> 
            </a>           
          </li>
          <li class="">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#all-note"
              aria-expanded="false" aria-controls="all-note">
              <i class="mdi mdi-view-dashboard-outline"></i>       
              <span class="nav-text">all notes</span>      
            </a>           
          </li>
          <li class="">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#app"
              aria-expanded="false" aria-controls="app">
              <i class="mdi mdi-account-star"></i>
              <span class="nav-text">Important Note</span>
            </a>           
          </li>
          <li class="has-sub">
            <a class="sidenav-item-link" href="javascript:void(0)">
              <i class="mdi mdi-folder-multiple-outline"></i>
              <span class="nav-text">Cateogories</span> 
            </a>
            <ul>
              <div class="sub-menu">
                <li>
                  <a class="sidenav-item-link" href="carousel.html">
                    <span class="nav-text">Carousel</span>

                  </a>
                </li>
                <li>
                  <a class="sidenav-item-link" href="collapse.html">
                    <span class="nav-text">Collapse</span>

                  </a>
                </li>
                <li>
                  <a class="sidenav-item-link" href="list-group.html">
                    <span class="nav-text">List Group</span>

                  </a>
                </li>
                <li>
                  <a class="sidenav-item-link" href="modal.html">
                    <span class="nav-text">Modal</span>

                  </a>
                </li>
                <li>
                  <a class="sidenav-item-link" href="pagination.html">
                    <span class="nav-text">Pagination</span>

                  </a>
                </li>
                <li>
                  <a class="sidenav-item-link" href="popover-tooltip.html">
                    <span class="nav-text">Popover & Tooltip</span>

                  </a>
                </li>
                <li>
                  <a class="sidenav-item-link" href="progress-bar.html">
                    <span class="nav-text">Progress Bar</span>

                  </a>
                </li>
                <li>
                  <a class="sidenav-item-link" href="spinner.html">
                    <span class="nav-text">Spinner</span>

                  </a>
                </li>
                <li>
                  <a class="sidenav-item-link" href="switcher.html">
                    <span class="nav-text">Switcher</span>

                  </a>
                </li>

                <li>
                  <a class="sidenav-item-link" href="tab.html">
                    <span class="nav-text">Tab</span>

                  </a>
                </li>
              </div>
            </ul>
          </li>
          <li class="">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="" data-target=""
              aria-expanded="false" aria-controls="app">
              <i class="mdi mdi-delete"></i>
              <span class="nav-text">Trash</span>
            </a>           
          </li>
        </ul>
      </div>

      <!-- <div class="sidebar-footer">
        <hr class="separator mb-0" />
        <div class="sidebar-footer-content">
          <h6 class="text-uppercase">
            Cpu Uses <span class="float-right">40%</span>
          </h6>
          <div class="progress progress-xs">
            <div class="progress-bar active" style="width: 40%;" role="progressbar"></div>
          </div>
          <h6 class="text-uppercase">
            Memory Uses <span class="float-right">65%</span>
          </h6>
          <div class="progress progress-xs">
            <div class="progress-bar progress-bar-warning" style="width: 65%;" role="progressbar"></div>
          </div>
        </div>
      </div> -->
    </div>
  </aside>